<!DOCTYPE html>
<html>
<head>
	<title>Join the band !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/jointheband.css' />
    <script src="/javascripts/jquery-1.11.1.js"></script>
	<script src="/socket.io/socket.io.js"></script>


    <script type="text/javascript" src="/javascripts/bower_components/dancer.js/dancer.min.js"></script>
    <script src="/javascripts/bower_components/easeljs/lib/easeljs-0.7.1.combined.js"></script>
    <script src="/javascripts/bower_components/TweenJS/lib/tweenjs-0.5.1.min.js"></script>
    <script src="/javascripts/bower_components/randomColor/randomColor.js"></script>
    <script src="http://www.arte.tv/arte_vp/js/main.js"></script>
</head>
<body>
  	<header>
		<h1>Join the band</h1>
	</header>

	<div id="players">
	</div>

	<!--<h2>GAME WILL BE HERE</h2>-->

    <div style="margin:20px auto;width:720px;height:406px;background:black;position:relative;" class="video-container" arte_vp_config="arte_concert" arte_vp_lang="fr_FR" arte_vp_url="http://concert.arte.tv/fr/player/27446" arte_vp_autostart="1">
    	<h3 style="color: white;font-size: 33px;display: inline-block;margin: 180px 0;width: 100%;text-align: center;cursor:pointer;">Click to play</h3>
    </div>

    <script>

        // Params
        var canvas;
        var Ease = createjs.Ease;
        var Tween = createjs.Tween;
        var circleRadius = 40;
        var trackWidth = window.innerWidth/3;

        function zobInit()
        {
            // Canvas & stage
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            stage = new createjs.Stage(canvas);

            // Lines
            createTrackLine(1);
            createTrackLine(2);
            createGoalLine();

            // Events
            window.addEventListener('resize', resize, false);

            // FPS & render loop
            createjs.Ticker.setFPS(60);
            createjs.Ticker.addEventListener('tick', function() {
                //console.log(createjs.Ticker.getMeasuredFPS());
                stage.update();
            });
        }

        // Functions
        function createCircle(trackNumber, color) {
            var circle = new createjs.Shape();
            circle.graphics.beginFill(color).drawCircle(0, 0, circleRadius);
            circle.x = trackWidth*trackNumber;
            circle.y = 0-circleRadius;
            circle.track = trackNumber;
            Tween.get(circle).to({y:canvas.height+circleRadius}, 1000, Ease.linear).call(function() {
                stage.removeChild(circle);
            });
            stage.addChild(circle);
        }

        function createTrackLine(trackNumber) {
            var line = new createjs.Shape();
            line.graphics.setStrokeStyle(10);
            line.graphics.beginStroke("#EEE");
            line.graphics.moveTo(trackWidth*trackNumber, 0);
            line.graphics.lineTo(trackWidth*trackNumber, window.innerHeight+200); // What the...
            line.graphics.endStroke();
            stage.addChild(line);
        }

        function createGoalLine() {
            var line = new createjs.Shape();
            line.graphics.beginFill("#EEE").drawRect(50, canvas.height-150, canvas.width-100, 6);
            stage.addChild(line);
        }

        function resize() {
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            stage.update();
        }

        function checkCollision(type, playerName) {
            var childrenCount = stage.getNumChildren();
            var goalTopLimit = canvas.height-150;
            var player = players[playerName];
            var childInGoal = false;

            for (var i=0; i<childrenCount; i++) {
                var child = stage.getChildAt(i);
                if (child.y > goalTopLimit && child.track == type && typeof child.scored == "undefined") { // TODO Empêcher le comptage de point 2 fois
                    player.score += 1;
                    child.scored = true;
                    childInGoal = true;
                }
            }

            if (!childInGoal && player.score > 0) {
                player.score -= 1;
            }
        }

        // Sockets
        var players = {};
        $(document).on('ready', function(event) {
            var socket = io();
            socket.on('new_challenger_event', function(data) {
                players[data] = {score: 0, name: data};
                $('#players').prepend(data + '<br/>');
            });

            socket.on('kick_event', function(data) {
                if (typeof stage == 'undefined') return;

                var type = data.type;
                var playerName = data.name;

                checkCollision(type, playerName);
                console.log(players[playerName].score);
            });

        });
    </script>

    <script>
        document.domain = "arte.tv";
        var player;
        var hasAlreadyPaused = false;
        var dancer = new Dancer();
        var previousKickTimeStamp,previousClacTimeStamp = 0;

        $(window).load(function() {

            //listen to the arte_vp_player_config_ready event
            $('.video-container').on('arte_vp_player_ready',function() {

                $(this).find('iframe').contents().find('body').find('.jwcontrols').css('z-index', 50);

                arte_vp = $(this).find('iframe')[0].contentWindow.arte_vp;
                var self = this;

                $(this).find('iframe')[0].contentWindow.arte_vp.jwplayer.onPlay(function(event){

                    if(hasAlreadyPaused == false)
                    {
                        hasAlreadyPaused = true;

                        $(self).find('iframe')[0].contentWindow.$("#player_container").append("<canvas style='width:100%;height:100%;position: relative;'></canvas>");
                        canvas = $(self).find('iframe')[0].contentWindow.$("#player_container canvas")[0];

                        zobInit();

                        arte_vp.jwplayer.pause();
                        arte_vp.jwplayer.setVolume(0);

                        dancer.load({src:arte_vp.arte_vp_sources[2].file});
                        dancer.play();
                        arte_vp.jwplayer.play(true);
                        //dancer.audio.volume = 0;

                        kick = dancer.createKick({
                            frequency:[ 0, 4 ],
                            threshold:0.04,
                            decay:0.005,
                            onKick: function ( mag ) {
                                if(Date.now()-previousKickTimeStamp>100)
                                {
                                    var color = randomColor();
                                    createCircle(1, color);
                                }
                                previousKickTimeStamp = Date.now();
                            },
                            offKick: function ( mag ) {

                            }
                        });

                        // Let's turn this kick on right away
                        kick.on();

                        clac = dancer.createKick({
                            frequency:[ 4, 10 ],
                            threshold:0.04,
                            decay:0.005,
                            onKick: function ( mag ) {
                                if(Date.now()-previousClacTimeStamp>100)
                                {
                                    var color = randomColor();
                                    createCircle(2, color);
                                }
                                previousClacTimeStamp = Date.now();
                            },
                            offKick: function ( mag ) {

                            }
                        });

                        // Let's turn this kick on right away
                        clac.on();
                    }
                });

            });
        });
    </script>

</body>
</html>
